
body, html {
    font-family: 'Heebo', sans-serif;
    background-color: rgba(35,35,35,255)
}

h1, h2, h3, h4, h5, h6 {
    color: rgba(243,243,243,255)
}

input[type=range] {
    height: 5px;
    -webkit-appearance: none;
    border-radius: 8px;
    background: lightgrey;
    transition: background 0.2s ease;
    cursor: pointer;
}

.spinImg {
    animation-play-state: running;
    animation-name: spin;
    animation-iteration-count: infinite;
    animation-duration: 30000ms;
    animation-timing-function: linear;
}

@keyframes spin {
    from {
        transform: rotate(0deg)
    }

    to {
        transform: rotate(360deg);
    }
}
