
body, html {
    font-family: 'Heebo', sans-serif;
    background-color: rgba(35,35,35,255)
}

h1, h2, h3, h4, h5, h6 {
    color: rgba(243,243,243,255)
}

input[type=range] {
    height: 5px;
    -webkit-appearance: none;
    border-radius: 8px;
    background: lightgrey;
    transition: background 0.2s ease;
    cursor: pointer;
}